- # helpers
- css = lambda do |css_url|
  %link{ type: 'text/css', rel: 'stylesheet', href: css_url }
- js = lambda do |js_url|
  %script{ type: 'text/javascript', src: js_url }
!!! 5
%html
  %head
    %title Jasmine Spec Runner
    %link{ href: 'vendor/jasmine/images/jasmine_favicon.png', rel: 'shortcut icon', type: 'image/png' }
    - css.call 'vendor/jasmine/lib/jasmine-core/jasmine.css'
    - js.call 'vendor/jasmine/lib/jasmine-core/jasmine.js'
    - js.call 'vendor/jasmine/lib/jasmine-core/jasmine-html.js'
    
    - js.call 'vendor/jquery/jquery.js'
    / include source files here...
    - js.call 'lib/jquery.in_field_label.js'
    
    / include spec files here...
    - js.call 'vendor/jasmine-jquery/lib/jasmine-jquery.js'
    - js.call 'spec/javascripts/jquery.in_field_label_spec.js'
  %body