body {
  padding-top: 90px;
  background-color: white;
}

iframe {
  display: none;
}

.in_field {
  display: inline-block;
  label {
    left: 6px;
    height: 28px;
    line-height: 28px;
  }
}

#jasmine-build-status {
  padding-bottom: 13px;
  &.failed {
    background-image: url('/jquery_in_field_label/examples/failing.png');
  }

  &.passed {
    background-image: url('/jquery_in_field_label/examples/failing.png');
  }
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}